.zr-table-tfilter{
    tr {
        padding: 0px !important;
    }
    td{
        padding: 0px !important;
        cursor: not-allowed;
        input, select{
            border-radius: 0px !important;
        }
    }
    .zr-popup-select .select-text, select, input{
        border: none !important;
    }
}