.zr-table-thead{
    .cell-label{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: keep-all;
        .required{
            color: #ef0707;
            padding: 2px;
        }
    }
    .thead-label{
        .thead-th{
            position: relative;
            .th-label{
                .icon{
                    font-size: 10px;
                    margin-left: 3px;
                    cursor: pointer;
                    width: 16px;
                    height: 16px;
                }
            }
            .th-sort{
                position: absolute;
                top: 0px;
                right: 0px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 24px;
                cursor: pointer;
            }
        }
    }
    .icon{
        width: 16px;
        height: 16px;
    }
}