.zr-table-thead{
    .thead-label{
        .thead-th{
            position: relative;
            .th-label{
                svg{
                    font-size: 10px;
                    margin-left: 3px;
                    cursor: pointer;
                }
            }
            .th-sort{
                position: absolute;
                top: 0px;
                right: 0px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 24px;
                cursor: pointer;
            }
        }
    }
}