.zr-table {
    border-collapse: collapse;
    border-spacing: 0;
    &[data-fixed="true"]{
        table-layout: fixed;
        &>thead, &>tbody, &>tfoot{
            
        }
        &>thead{
            
        }
        &>tbody{
            
        }
        &>tfoot{
            
        }
    }
    .zr-table-pager{
        border-top: 1px solid #e6e6e6;
        .pager-row{
            td{
                padding: 0px;
                margin: 0px;
            }
        }
    }
}
